@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
}
html {
  margin: 0;
}

body {
  background-color: #00A652;
  max-width: 100%;
}

/* font weights */
.transparent {
  color: transparent;
}

/* color properties*/
nav {
  max-width: 100%;
}

.nav-logo {
  display:flex;
  justify-content: center;
}

.pokify-logo {
  height:8rem;
}

nav ul {
  list-style-type: none;
  text-align: center;
}
nav li {
  display: inline-block;
  padding-right: 2rem;
}
nav li a {
  font-family: "Press Start 2P", monospace, sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
nav li a:hover {
  color: yellow;
}

h1 {
  font-family: "Press Start 2P", monospace, sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 2em;
  color: white;
  -webkit-text-stroke: 1px black;
  margin: auto;
  width: 90%;
}

h2 {
  font-family: "Fira Mono", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 2em;
  color: #fefefe;
}

h3 {
  font-family: "Fira Mono", sans-serif;
  font-weight: 400;
  font-size: 2em;
}

p {
  font-family: "Fira Mono", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.225em;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 2rem;
}
.hero h1 {
  margin: 0;
  text-align: center;
  
}
.hero h2 {
  color: white;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.breathing {
  animation: breathing 3000ms infinite forwards;
  display: flex;
   
  text-align: center;
  align-items: center;
  
  
}

@keyframes breathing {
  50% {
    transform: scaleX(1.05) scaleY(1.05);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.spotify-button {
  margin: 2em 1em;
  display: flex;
  justify-content: center;
  color: #1e1e1e;
  background-color: #fefefe;
  font-family: "Press Start 2P", monospace, sans-serif;
  border: 2px solid #1e1e1e;
  border-radius: 100px;
  transition: 0.3s ease;
  text-align: center;
  padding: 1.25em 1.875em;
  text-decoration: none;
  max-width: 100%;
  align-items: center;
}


.spotify-button img {
  margin-right: 1.25em;
}

.spotify-button:hover {
  background-color: #1e1e1e;
  color: #fefefe;
  border: 2px solid #fefefe;
}

.fix-stroke {
  paint-order: stroke fill;
}

@media (min-width:768px) {
  .timerangediv {
    display: flex;
    justify-content: center;
  }
  .options{
    margin: 0 2em;
  }
}
@media (min-width:1024px) {
  nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .bulbasaurimg {
    position: absolute;
    right: 5rem;
    bottom: 6rem;
  }
  .ivysaurimg {
    position: absolute;
    left: 5rem;
    bottom: 6rem;
  }
}

.options {
  display: flex;
  flex-direction: column;
  
}

.options img {
  align-self: center;
  height: 4.68rem;
  width: auto;
  margin-bottom: .5em;
}

.options a {
  text-align: center;
  margin-bottom: 3.125em;
  text-decoration: none;
  color: #fefefe;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 2em;
  
}

.selectionheader {
  text-align: center;
  margin-top: 6.25rem;
}

.selectionheader h2 {
  text-align: center;
  margin: 0 auto 50px;
  color: #fefefe;
  font-family: "Fira Mono", sans-serif;
  font-weight: 400;
}

.logout-button {
  font-family: "Press Start 2P", monospace, sans-serif;
  border: none;
  background-color: transparent;
  color: #fefefe;
  font-weight: 400;
  font-size: 1em;
  transition: 0.3s;
}
.logout-button:hover {
  color: yellow;
}

.about-header {
  margin: 4em auto;
  text-align: center;


  h2 {
    width: 80%;
    margin: auto;
  }
}

.bulbasaurimg img {
  height: 20rem;
}

.ivysaurimg {
  display: flex;
  justify-content: center;
}

.ivysaurimg img {
  height: 20rem;
}